<a href="https://colab.research.google.com/github/Ayat-Salem/FinTech/blob/main/Simple_DCF_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas

In [ ]:
Revenue_Growth_Factor= 0.18
EBITDA_Margin= 0.45
Taxes= 0.21
Capital_Expenditures= 0.03
Working_Capital_Increase= 0.6
EBITDA_Exit_Multiple=32.70
Discount_Factor= 0.94
Discount_rate= 0.10

In [ ]:
start_year='2022'
end_year='2032'

In [ ]:
dates= pandas.date_range(start = '2022', end= '2032', freq = 'y')
dates

DatetimeIndex(['2022-12-31', '2023-12-31', '2024-12-31', '2025-12-31',
               '2026-12-31', '2027-12-31', '2028-12-31', '2029-12-31',
               '2030-12-31', '2031-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [ ]:
df= pandas.DataFrame(index=dates)
df.loc['2022-12-31','Revenue']= 222* (1+Revenue_Growth_Factor )
df

            Revenue
2022-12-31   261.96
2023-12-31      NaN
2024-12-31      NaN
2025-12-31      NaN
2026-12-31      NaN
2027-12-31      NaN
2028-12-31      NaN
2029-12-31      NaN
2030-12-31      NaN
2031-12-31      NaN

In [ ]:
inital_revenue= 222
revenue= [inital_revenue*Revenue_Growth_Factor]
revenue
for i in range(1,len(dates)):
    revenue.append(revenue[i-1] * Revenue_Growth_Factor )

df['revenue']=revenue
df

In [ ]:
for i in range (1, len(df)):
    df.iloc[i]['Revenue']= df.iloc[i-1]['Revenue']* (1+ Revenue_Growth_Factor)
df

                Revenue
2022-12-31   261.960000
2023-12-31   309.112800
2024-12-31   364.753104
2025-12-31   430.408663
2026-12-31   507.882222
2027-12-31   599.301022
2028-12-31   707.175206
2029-12-31   834.466743
2030-12-31   984.670757
2031-12-31  1161.911493

In [ ]:

df['EBITDA']= df['Revenue']*EBITDA_Margin
df['Taxes']= df['EBITDA']* -Taxes
df['Capital Expenditures']= df['Revenue']* -Capital_Expenditures
df['Working Capital']= df['Revenue']*-Working_Capital_Increase
#df['Cash Flow']= df['EBITDA']+df['Taxes']+df['Capital Expenditures']+df['Working Capital']
df['Cash Flow']=df.drop(columns='Revenue').sum(axis=1)

df

,Revenue,EBITDA,Taxes,Capital Expenditures,Working Capital,Cash Flow,Discount Factor,Present Value Free Cash Flow
2022-12-31,261.960000,117.882000,-24.755220,-7.858800,-157.176000,-299.520698,0.940000,-67.593539
2023-12-31,309.112800,139.100760,-29.211160,-9.273384,-185.467680,-344.314378,0.883600,-74.974753
2024-12-31,364.753104,164.138897,-34.469168,-10.942593,-218.851862,-396.098669,0.830584,-83.161996
2025-12-31,430.408663,193.683898,-40.673619,-12.912260,-258.245198,-456.019371,0.780749,-92.243286
2026-12-31,507.882222,228.547000,-47.994870,-15.236467,-304.729333,-525.415968,0.733904,-102.316253
2027-12-31,599.301022,269.685460,-56.633947,-17.979031,-359.580613,-605.855135,0.689870,-113.489188
2028-12-31,707.175206,318.228843,-66.828057,-21.215256,-424.305124,-699.170128,0.648478,-125.882207
2029-12-31,834.466743,375.510034,-78.857107,-25.034002,-500.680046,-807.507099,0.609569,-139.628544
2030-12-31,984.670757,443.101841,-93.051387,-29.540123,-590.802454,-933.379568,0.572995,-154.875981
2031-12-31,1161.911493,522.860172,-109.800636,-34.857345,-697.146896,-1079.732489,0.538615,-171.788439

In [ ]:
df['Discount Factor']=[Discount_Factor ** i for i in range(1,len(dates) +1) ]
df

,Revenue,EBITDA,Taxes,Capital Expenditures,Working Capital,Cash Flow,Discount Factor
2022-12-31,261.960000,117.882000,-24.755220,-7.858800,-157.176000,-71.908020,0.940000
2023-12-31,309.112800,139.100760,-29.211160,-9.273384,-185.467680,-84.851464,0.883600
2024-12-31,364.753104,164.138897,-34.469168,-10.942593,-218.851862,-100.124727,0.830584
2025-12-31,430.408663,193.683898,-40.673619,-12.912260,-258.245198,-118.147178,0.780749
2026-12-31,507.882222,228.547000,-47.994870,-15.236467,-304.729333,-139.413670,0.733904
2027-12-31,599.301022,269.685460,-56.633947,-17.979031,-359.580613,-164.508131,0.689870
2028-12-31,707.175206,318.228843,-66.828057,-21.215256,-424.305124,-194.119594,0.648478
2029-12-31,834.466743,375.510034,-78.857107,-25.034002,-500.680046,-229.061121,0.609569
2030-12-31,984.670757,443.101841,-93.051387,-29.540123,-590.802454,-270.292123,0.572995
2031-12-31,1161.911493,522.860172,-109.800636,-34.857345,-697.146896,-318.944705,0.538615

In [ ]:
df["Present Value Free Cash Flow"] = df["Cash Flow"] * df["Discount Factor"]
df

,Revenue,EBITDA,Taxes,Capital Expenditures,Working Capital,Cash Flow,Discount Factor,Present Value Free Cash Flow
2022-12-31,261.960000,117.882000,-24.755220,-7.858800,-157.176000,-71.908020,0.940000,-67.593539
2023-12-31,309.112800,139.100760,-29.211160,-9.273384,-185.467680,-84.851464,0.883600,-74.974753
2024-12-31,364.753104,164.138897,-34.469168,-10.942593,-218.851862,-100.124727,0.830584,-83.161996
2025-12-31,430.408663,193.683898,-40.673619,-12.912260,-258.245198,-118.147178,0.780749,-92.243286
2026-12-31,507.882222,228.547000,-47.994870,-15.236467,-304.729333,-139.413670,0.733904,-102.316253
2027-12-31,599.301022,269.685460,-56.633947,-17.979031,-359.580613,-164.508131,0.689870,-113.489188
2028-12-31,707.175206,318.228843,-66.828057,-21.215256,-424.305124,-194.119594,0.648478,-125.882207
2029-12-31,834.466743,375.510034,-78.857107,-25.034002,-500.680046,-229.061121,0.609569,-139.628544
2030-12-31,984.670757,443.101841,-93.051387,-29.540123,-590.802454,-270.292123,0.572995,-154.875981
2031-12-31,1161.911493,522.860172,-109.800636,-34.857345,-697.146896,-318.944705,0.538615,-171.788439

In [ ]:
print(f"""
Our projected Present Value of Projected Future Cash Flows are: ${df['Present Value Free Cash Flow'].sum().round(0)}.
We are providing revenue guidance in 2032 to be: ${round(df.iloc[-1]["Revenue"] * Revenue_Growth_Factor)}.
With an estimated EBITDA around: ${EBITDA_Exit_Multiple * EBITDA_Margin }.""")

Our projected Present Value of Projected Future Cash Flows are: $-1126.0.
We are providing revenue guidance in 2032 to be: $209.
With an estimated EBITDA around: $14.715000000000002.